## Dependencies

In [4]:
#tables
import numpy as np
import pandas as pd
import csv

## Transform Datasets from OECD.stat & World Bank

In [4]:
## reading using CSV module 


## endangered species (0 of 5)
endangered_species = pd.read_csv('../Resources/WILD_LIFE_Endangered_plant_and_wildlife_Updated_Mar_2019.csv', delimiter = ',')
endangered_species_data = endangered_species.drop(columns = ['SPEC','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags'])
endangered_species_data.head()

,IUCN,IUCN Category,Species,COU,Country,Unit Code,Unit,Value
0,TOT_KNOWN,Total number of known species,Mammals,AUS,Australia,NBR,Number,402.0
1,ENDANGERED,Number of endangered species,Mammals,AUS,Australia,NBR,Number,37.0
2,CRITICAL,Number of critically endangered species,Mammals,AUS,Australia,NBR,Number,5.0
3,VULNERABLE,Number of vulnerable species,Mammals,AUS,Australia,NBR,Number,67.0
4,THREATENED,Total number of threatened species,Mammals,AUS,Australia,NBR,Number,109.0

In [5]:
## water quality (1 of 5)
water_quality = pd.read_csv('../Resources/WATER_QUALITY_Updated_Aug_2017.csv', delimiter = ',')
water_quality_data = water_quality.drop(columns = ['YEA','Flag Codes','Flags'])
water_quality_data.head()

  River_Code  COU  Country  Water              VAR    Variable  Year     Value
0     HUN_L1  HUN  Hungary  Fertö    NITRATES_LAKE    Nitrates  2007  3.325000
1     HUN_L1  HUN  Hungary  Fertö  PHOSPHORUS_LAKE  Phosphorus  1997  0.087455
2     HUN_L1  HUN  Hungary  Fertö  PHOSPHORUS_LAKE  Phosphorus  1998  0.089478
3     HUN_L1  HUN  Hungary  Fertö  PHOSPHORUS_LAKE  Phosphorus  1999  0.048870
4     HUN_L1  HUN  Hungary  Fertö  PHOSPHORUS_LAKE  Phosphorus  2000  0.053043

In [6]:
## air quality (2 of 5)
air_quality = pd.read_csv('../Resources/EXP_PM2_5_FUA_Updated_Nov_2018.csv', delimiter = ',')
air_quality_data = air_quality.drop(columns = ['YEA','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags'])
air_quality_data.head()

,COU,Country,FUA,Metropolitan area,VAR,Variable,Year,Unit Code,Unit,Value
0,AUS,Australia,AUS01,Greater Sydney,PWM_EX,Mean population exposure to PM2.5,1990,MICRO_M3,Micrograms per cubic metre,8.65
1,AUS,Australia,AUS01,Greater Sydney,PWM_EX,Mean population exposure to PM2.5,1995,MICRO_M3,Micrograms per cubic metre,8.70
2,AUS,Australia,AUS01,Greater Sydney,PWM_EX,Mean population exposure to PM2.5,2000,MICRO_M3,Micrograms per cubic metre,8.85
3,AUS,Australia,AUS01,Greater Sydney,PWM_EX,Mean population exposure to PM2.5,2005,MICRO_M3,Micrograms per cubic metre,8.74
4,AUS,Australia,AUS01,Greater Sydney,PWM_EX,Mean population exposure to PM2.5,2010,MICRO_M3,Micrograms per cubic metre,8.77

In [7]:
## world development indicators (3 of 5)
wdi = pd.read_csv('../../WDIData.csv', delimiter = ',')
wdi = wdi.rename(columns = {'Country Name':'Country','Country Code': "COU"})
wdi.head()

,Country,COU,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.844982,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.189815,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.530494,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN,NaN

In [84]:
## health risk from enviromental pollution (4 of 5)

health_risk = pd.read_csv('../../EXP_Mortality_due_to_environmental_risk_Updated_June_2019.csv', delimiter = ',')
health_risk_data = health_risk.drop(columns = ['SEX','AGE','YEA','PowerCode Code','PowerCode','Reference Period Code','Reference Period','Flag Codes','Flags'])
health_risk_data.head()

,COU,Country,VAR,Variable,RISK,Risk,Sex,Age,Year,Unit Code,Unit,Value
0,AUS,Australia,DALY_CAP,"DALYs, per thousand inhabitants",PM_2_5_OUT,Ambient Particulate Matter,Both,ALL,1990,1000HAB,Per 1 000 inhabitants,6.451
1,AUS,Australia,DALY_CAP,"DALYs, per thousand inhabitants",PM_2_5_OUT,Ambient Particulate Matter,Both,ALL,1995,1000HAB,Per 1 000 inhabitants,5.835
2,AUS,Australia,DALY_CAP,"DALYs, per thousand inhabitants",PM_2_5_OUT,Ambient Particulate Matter,Both,ALL,2000,1000HAB,Per 1 000 inhabitants,5.383
3,AUS,Australia,DALY_CAP,"DALYs, per thousand inhabitants",PM_2_5_OUT,Ambient Particulate Matter,Both,ALL,2005,1000HAB,Per 1 000 inhabitants,4.730
4,AUS,Australia,DALY_CAP,"DALYs, per thousand inhabitants",PM_2_5_OUT,Ambient Particulate Matter,Both,ALL,2006,1000HAB,Per 1 000 inhabitants,4.662

In [9]:
## waste treatment (5 of 5)

waste_treatment = pd.read_csv('../Resources/MUNW_Updated_Mar_2019.csv', delimiter = ',')
waste_treatment_data = waste_treatment.drop(columns = ['YEA','Reference Period Code','Reference Period'])
waste_treatment_data.head()

,COU,Country,VAR,Variable,Year,Unit Code,Unit,PowerCode Code,PowerCode,Value,Flag Codes,Flags
0,AUS,Australia,MUNICIPAL,Municipal waste generated,1992,TONNE,Tonnes,3,Thousands,12000.000,E,Estimated value
1,AUS,Australia,MUNICIPAL,Municipal waste generated,2000,TONNE,Tonnes,3,Thousands,13200.000,E,Estimated value
2,AUS,Australia,MUNICIPAL,Municipal waste generated,2007,TONNE,Tonnes,3,Thousands,12798.666,NaN,NaN
3,AUS,Australia,MUNICIPAL,Municipal waste generated,2008,TONNE,Tonnes,3,Thousands,13027.542,NaN,NaN
4,AUS,Australia,MUNICIPAL,Municipal waste generated,2009,TONNE,Tonnes,3,Thousands,13256.419,NaN,NaN

## Confirm Country Code

Steps: 

--Iterate through dataframes
1. Need to iterate through dataframes, thus used a dictionary to maintain the 'type' of the dataframe while putting in an structured format by having the keys in numerical order. 
2. Created a text list of the dataframes in the dict so I could print the name of the data, but not the dataframe itself

-- count the unique country codes
1. If each country has more than 1 unqiue country code then the boolean will print false. 
Thus meaning that df countries have to be reviewed and edited to become unique

In [10]:
dict_of_df = {0 : endangered_species_data, 1 : water_quality_data, 2 : air_quality_data, 3: wdi, 4 : health_risk_data, 5 : waste_treatment_data}
list_of_df = ['endangered_species_data','water_quality_data', 'air_quality_data', 'wdi','health_risk_data','waste_treatment_data']

In [11]:
## count unique country code per count.  if value > 1 then print series row otherwise dropna

i = 0 
while i <= 5:
    for i in dict_of_df: ## i is acting as key value
        df_name = list_of_df[i]
        country_code = dict_of_df[i].groupby('Country')['COU'].nunique()  ##print 'value' of dictionary using key value
        check = country_code.where(country_code > 1).dropna().empty
        print(f"Dataframe: {df_name} Country Code Check (True/Good) (False/Error) = {check}")
        i = i + 1

Dataframe: endangered_species_data Country Code Check (True/Good) (False/Error) = True
Dataframe: water_quality_data Country Code Check (True/Good) (False/Error) = True
Dataframe: air_quality_data Country Code Check (True/Good) (False/Error) = True
Dataframe: wdi Country Code Check (True/Good) (False/Error) = True
Dataframe: health_risk_data Country Code Check (True/Good) (False/Error) = True
Dataframe: waste_treatment_data Country Code Check (True/Good) (False/Error) = True

#### Prepare Datasets to  be mergered

1. Print only unique rows of COU per country
2. Unique function prints values into a list, thus we need to make them into strings so they can be located when we merge the datasets together

In [12]:
## Create new df of country codes 

i = 0 
code_list = []
while i <= 5:
    for i in dict_of_df: ## i is acting as key value
        df_name = list_of_df[i] ## records which database we are iterating through 
        cou = dict_of_df[i][['Country','COU']].groupby('Country')['COU'].unique().reset_index(name="COU").sort_values(by='Country')
        """
        -iterate through dataframes
        -selects two columns for country code
        -print only unique list of COU, 
        -set series values name to 'COU' to make dataframe
        - sort countries name in alphabetical order
        
        """        
        code_list.append(cou) ## append dataframe to list
        i= i+1 ## loop through next dataframe 
        print(f"Completed Concat of {df_name}") #state which dataframes are complete
    code_df = pd.concat(code_list,ignore_index=True) # combine as 1 long list of unique countries

Completed Concat of endangered_species_data
Completed Concat of water_quality_data
Completed Concat of air_quality_data
Completed Concat of wdi
Completed Concat of health_risk_data
Completed Concat of waste_treatment_data

In [13]:
code_df.tail()

            Country    COU
479          Sweden  [SWE]
480     Switzerland  [CHE]
481          Turkey  [TUR]
482  United Kingdom  [GBR]
483   United States  [USA]

In [14]:
code_df['COU'][0][0]

'AUS'

In [15]:
## to extract COU code from the indivudal list per row
### create items in row as a list and reassign it to column 'COU'

i=0
country_code = []

while i <= (len(code_df['COU'])-1): ##sets limit per dataframe
    for x in code_df['COU']:
        country_code.append(code_df['COU'][i][0])
        i=i+1

In [16]:
## reassign COU to new country code
code_df['COU'] = country_code

In [21]:
unique_code_df = code_df.groupby('Country')['COU'].unique().reset_index(name="COU").sort_values(by='Country')

In [23]:
## to extract COU code from the indivudal list per row
### create items in row as a list and reassign it to column 'COU'

i=0
country_code_2nd = []

while i <= (len(unique_code_df['COU'])-1): ##sets limit per dataframe
    for x in unique_code_df['COU']:
        country_code_2nd.append(unique_code_df['COU'][i][0])
        i=i+1

In [24]:
unique_code_df['COU'] = country_code_2nd

In [26]:
unique_code_df.head()

          Country  COU
0     Afghanistan  AFG
1         Albania  ALB
2         Algeria  DZA
3  American Samoa  ASM
4         Andorra  AND

In [19]:
check_codes = unique_code_df.groupby('Country')['COU'].nunique()
codes = check_codes.where(check_codes > 1).dropna()
final_check = list(codes.index)
final_check

[]

### Write Final Dataframes to CSV

In [27]:
# to write unqiue country code df to csv
unique_code_df.to_csv('../Resources/Unique_Country_Code.csv', sep=',', encoding= 'utf-8', index=False)

In [34]:
## adjust list of df and dict of df to format where the files will be saved

dict_of_df_csv_resources = {0 : endangered_species_data, 1 : water_quality_data, 2 : air_quality_data , 3 : waste_treatment_data}
dict_of_df_csv_file = {4: wdi, 5 : health_risk_data }
list_of_df_csv = ['endangered_species_data','water_quality_data', 'air_quality_data', 'waste_treatment_data', 'wdi','health_risk_data',]

In [35]:
# to write dfs  0 - 3 to csv

i = 0 
while i <= 3:
    for i in dict_of_df_csv_resources: ## i is acting as key value
        df_name = list_of_df_csv[i]
        dict_of_df_csv_resources[i].to_csv(f'../Resources/{df_name}.csv', sep=',', encoding= 'utf-8', index=False)  ##print 'value' of dictionary using key value
        print(f"printed {df_name} to csv")
        i = i + 1

printed endangered_species_data to csv
printed water_quality_data to csv
printed air_quality_data to csv
printed waste_treatment_data to csv

In [37]:
# to write dfs  4 - 5 to csv

i = 4 
while i <= 5:
    for i in dict_of_df_csv_file: ## i is acting as key value
        df_name = list_of_df_csv[i]
        dict_of_df_csv_file[i].to_csv(f'../../{df_name}.csv', sep=',', encoding= 'utf-8', index=False)  ##print 'value' of dictionary using key value
        print(f"printed {df_name} to csv")
        i = i + 1

printed wdi to csv
printed health_risk_data to csv

### <font color= pink> Data Visualizations </font>

Since the article that we are referencing "the dry facts: Water" article, we'll focus on water quality and then move to our other metrics. 

1. Let's first get an overview of where water quality stands worldwide currently
2. Grab the top 10 countries in each category to sample each water quality bin to compare quality over time. 
3. Then we can start reviewing other metrics

In [116]:
##Dependancies 

#statistics
from scipy import stats

##charting##
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.mlab as mlab
import seaborn as sns
import seaborn as sns

#plotly libraries
import plotly as py
import plotly.graph_objs as go

py.offline.init_notebook_mode(connected=True)

### Water Quality

In [7]:
water_quality_data.head()

##units per OECD.state Milligrams per litre (mg/litre) for nitrates, phosphorus and ammonium
## under 10 mg/L is safe for drinking water

  River_Code  COU  Country  Water              VAR    Variable  Year     Value
0     HUN_L1  HUN  Hungary  Fertö    NITRATES_LAKE    Nitrates  2007  3.325000
1     HUN_L1  HUN  Hungary  Fertö  PHOSPHORUS_LAKE  Phosphorus  1997  0.087455
2     HUN_L1  HUN  Hungary  Fertö  PHOSPHORUS_LAKE  Phosphorus  1998  0.089478
3     HUN_L1  HUN  Hungary  Fertö  PHOSPHORUS_LAKE  Phosphorus  1999  0.048870
4     HUN_L1  HUN  Hungary  Fertö  PHOSPHORUS_LAKE  Phosphorus  2000  0.053043

In [23]:
nitrate_data = water_quality_data[water_quality_data['Variable'] == 'Nitrates']

In [28]:
nitrate_data.groupby('COU')['Year'].nunique()

COU
BEL    16
CAN    17
CHE    15
CHL    14
CZE    15
DEU    15
DNK    16
ESP    11
FIN    16
FRA     8
GBR    15
GRC     3
HUN    11
IRL     5
ISR    17
ITA    16
JPN    17
KOR    17
LUX     7
LVA    16
MEX    17
NLD    13
NOR    16
NZL    15
POL    16
PRT     8
SVK    16
SWE    16
TUR     9
USA     7
Name: Year, dtype: int64

In [76]:
nitrate_pivot = pd.pivot_table(nitrate_data, values='Value', index=['COU'], columns=['Year'], aggfunc=np.mean)

In [81]:
nitrate_pivot['Total Nitrates'] =  nitrate_pivot.sum(axis=1, skipna = True)                                                             
nitrate_pivot.fillna('', inplace=True)
nitrate_pivot

Year,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,Annual Average
COU,,,,,,,,,,,,,,,,,,
BEL,7.62635,7.08742,7.19212,7.88342,7.63718,6.84183,7.3184,7.3661,6.14473,6.40767,6.43269,5.97182,5.82003,5.83207,5.65134,5.15326,,6.647902
CAN,0.274521,1.13661,0.659758,1.02218,0.703487,1.79324,0.735717,1.3275,0.878257,1.62997,1.13419,0.773503,1.00298,1.58306,1.67239,1.10435,1.38812,1.107049
CHE,1.67438,1.3798,1.38299,1.35014,1.44916,1.53765,1.55114,1.7044,1.52637,1.7807,1.67655,1.47285,,1.23498,1.01094,0.997812,,1.448657
CHL,0.000560375,0.240049,8.45e-05,0.4229,,0.401319,0.372292,0.438007,0.233515,0.27711,0.170473,0.165027,0.229528,0.21335,0.195625,,,0.239988
CZE,14.7361,8.35214,8.50513,9.7107,9.42336,9.37759,8.58997,8.63804,7.70636,7.85256,7.73524,7.53006,14.0975,15.0502,14.6557,,,10.130712
DEU,4.02817,3.82688,3.61865,3.4101,3.35365,3.48217,3.34456,3.14185,3.17369,4.66995,,3.08802,3.03561,3.25534,3.05974,3.25297,,3.449423
DNK,3.19625,4.08798,3.76342,3.54941,3.20424,3.33132,2.92076,3.53018,3.23445,3.31605,2.71222,2.7077,2.52649,2.44928,2.24307,2.17334,,3.059135
ESP,6.48264,5.20747,3.099,1.31589,5.63062,2.89126,3.08334,2.1391,2.01933,2.20965,,,,2.17917,,,,3.296134
FIN,1.04637,1.10328,1.02344,1.08987,1.06644,0.995755,1.05422,1.11561,1.09311,0.874388,0.903986,0.90024,1.18074,0.818497,0.629032,0.644494,,0.971217
FRA,3.11,2.9975,3.1075,3.5025,3.0175,2.1,1.89333,,,,,,,15.4471,,,,4.396930
GBR,4.5692,3.89933,3.79783,4.1211,2.96634,4.37696,4.87284,3.605,1.71667,3.35,2.1575,,1.56,1.33,1.46,1.33,,3.007518
GRC,,,,,,,,,,3.91231,4.0869,,,,,4.2108,,4.070003
HUN,1.9647,2.19123,2.04374,1.70619,1.72722,1.75792,1.7824,1.85654,1.72922,1.28447,3.60865,,,,,,,1.968390
IRL,,,,,,,,,1.32,,4.13333,,,2.49683,3.07863,3.10194,,2.826146
ISR,467.3,614.5,526,475.4,482.2,542.1,747.4,646.8,588.1,561.6,495.3,451.8,445.8,109.999,115.847,525.7,569.9,492.102721
ITA,2.3,2.3,2.11,2.90882,1.89923,2.55745,2.24202,2.0536,2.13974,2.86449,1.78248,1.87269,1.83618,1.56878,2.41692,2.55428,,2.212917
JPN,0.606667,0.663333,1.81833,1.72333,1.44125,1.6175,1.55375,1.44875,1.48125,1.63857,1.51375,1.63286,1.58714,1.45375,1.45,1.3575,1.32875,1.430382
KOR,2.88676,2.80561,2.63929,2.42834,2.49467,2.39829,2.22861,2.37054,2.32633,2.20931,2.28246,2.03481,2.31581,2.16971,2.41127,2.36239,2.07643,2.378861
LUX,0.87,0.873333,0.91,2.6,,,,1.24,,,,,,,5.65,5.45,,2.513333
LVA,5.58725,4.91952,4.31855,4.87404,5.11648,6.18882,5.07679,3.96586,4.9082,4.18797,2.55148,2.3446,6.85054,45.5,27.7,,2260.93,149.688443
MEX,0.278571,0.261667,0.276,0.328583,0.565053,0.846143,0.564857,1.07667,0.523333,0.903667,2.87333,2.322,5.16333,1.5625,0.852,1.62175,3.62943,1.391111
NLD,3.54731,3.97836,3.0624,3.1574,2.882,3.0475,2.84234,3.09973,3.61589,,3.3525,2.99769,2.78058,3.01798,,,,3.183206
NOR,0.357396,0.349252,0.335215,0.361955,0.29857,0.313211,0.354513,0.376486,0.541028,0.337289,0.363688,0.319066,0.319028,0.296042,0.362952,0.32625,,0.350746
NZL,202.398,236.713,236.953,231.25,234.685,193.761,217.822,260.212,193.629,204.936,154.242,185.476,178.971,0.30225,0.306875,,,182.110412
POL,4.38032,4.04746,1.43927,1.40895,1.30084,2.07293,1.43491,1.35929,1.38838,3.362,1.60825,3.00775,3.35363,3.19605,3.34827,2.76165,,2.466872
PRT,,,,,,,,,0.71875,0.818333,0.998035,1.57667,1.34222,2.05937,0.900556,0.925,,1.167367
SVK,3.47064,4.61757,2.84563,3.08188,3.04195,2.77756,2.6861,3.21632,3.24296,2.96335,2.49932,2.66161,2.53318,2.74146,2.68775,2.45945,,2.970418
SWE,0.895694,0.958375,0.891844,0.84322,0.860148,0.85981,0.827,0.879043,0.826095,0.859524,1.00792,0.9435,0.778714,0.7285,0.726111,0.705333,,0.849427
TUR,1.33667,2.29833,1.73167,1.47,1.7025,1.295,1.69,1.77667,,,,,,,7.76,,,2.340093
USA,1.11,1.26,1.26,0.995,1.355,1.035,0.93,,,,,,,,,,,1.135000

In [11]:
 nitrate_water = water_quality_data[(water_quality_data['Value'] >= 10) & (water_quality_data['Variable'] == "Nitrates") ]

In [ ]:
## to count that there is data for all years in countries
 nitrate_water

In [19]:
pd.pivot_table(nitrate_water, values='Value', index=['COU'], columns=['Year'], aggfunc=np.mean, fill_value='')

Year,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
COU,,,,,,,,,,,,,,,,,
BEL,11.0427,,,11.5657,10.3629,,10.2923,10.4788,,,,,,,,,
CZE,14.7361,15.7904,15.6187,14.8014,14.4942,14.9277,16.4345,16.2745,14.5318,14.4125,14.7791,13.9029,14.0975,15.0502,14.6557,,
FRA,,,,,,,,,,,,,,17.3615,,,
HUN,,,,,,,,,,,13.9409,,,,,,
ISR,467.3,614.5,526,475.4,482.2,542.1,747.4,646.8,588.1,561.6,495.3,451.8,445.8,218.87,227.07,525.7,569.9
LVA,21.5,22.2,21.3,23.3,23.8,33.9,25.9,17.5,24.5,18.5,,,34.8,45.5,27.7,,2260.93
MEX,,,,,,,,,,,,,10.24,,,,10.88
NZL,236.118,276.153,276.43,269.779,273.788,258.27,254.115,303.569,258.042,273.097,205.5,247.167,238.5,,,,
TUR,,,,,,,,,,,,,,,32.4,,

### Health Risks

In [103]:
risk_eval = health_risk_data.groupby('COU')['Risk'].nunique()
risk_mode_eq = stats.mode(risk_eval.values)
risk_mode = int(risk_mode_eq[0])

In [111]:
health_risk_data["Unit"].unique()

array(['Per 1 000 inhabitants', 'Percentage', 'Number',
       'Per 100 000 inhabitants', 'US Dollar', 'National currency'],
      dtype=object)

In [140]:
check_risk = risk_eval.where(risk_eval != risk_mode).dropna().empty

if check_risk == True:
    ## adjusting data to UOM % to compare across countries
    comparison_health_risk_data_df = health_risk_data[(health_risk_data['Unit'] ==  'Percentage') & (health_risk_data['Risk'] ==  'Unsafe water source')]
    nitrate_pivot = pd.pivot_table(comparison_health_risk_data_df, values='Value', index=['COU','Country','Risk','Unit'], columns=['Year'], aggfunc=np.mean)
    nitrate_pivot['17 yr Avg'] = nitrate_pivot.mean(axis=1)
else: 
    print('Review Categories - Incomplete Data')
    
nitrate_pivot.reset_index(inplace=True)
nitrate_pivot

Year,COU,Country,Risk,Unit,1990,1995,2000,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,17 yr Avg
0,AFG,Afghanistan,Unsafe water source,Percentage,2.525278,3.190419,2.438788,2.512855,2.321981,2.138011,...,1.692488,1.638110,1.545126,1.453835,1.477193,1.442213,1.382557,1.353707,1.357140,1.896725
1,AGO,Angola,Unsafe water source,Percentage,6.976206,6.623225,5.833783,4.985880,5.399621,4.940550,...,4.812503,4.924787,4.908515,4.818710,4.686551,4.482521,4.343012,4.103000,4.017437,5.047337
2,ALB,Albania,Unsafe water source,Percentage,0.204231,0.127712,0.071235,0.047700,0.045477,0.045195,...,0.041162,0.040283,0.039003,0.037922,0.036011,0.035545,0.034876,0.034001,0.033581,0.057274
3,AND,Andorra,Unsafe water source,Percentage,0.001667,0.001250,0.001250,0.001667,0.001667,0.001667,...,0.002083,0.002083,0.002083,0.002083,0.002500,0.002500,0.002917,0.002917,0.002917,0.002057
4,ARG,Argentina,Unsafe water source,Percentage,0.233574,0.162923,0.123953,0.094853,0.090968,0.088082,...,0.086905,0.085914,0.084965,0.084645,0.086117,0.087933,0.087087,0.084572,0.083686,0.103400
5,ARM,Armenia,Unsafe water source,Percentage,0.401879,0.270698,0.121376,0.043413,0.035763,0.031021,...,0.026316,0.023213,0.023797,0.022173,0.022301,0.021798,0.019804,0.018941,0.018266,0.070544
6,ASM,American Samoa,Unsafe water source,Percentage,0.359583,0.327083,0.279167,0.281667,0.286667,0.285417,...,0.286250,0.288750,0.290417,0.290833,0.290833,0.292917,0.294167,0.296250,0.301250,0.296094
7,ATG,Antigua and Barbuda,Unsafe water source,Percentage,0.279146,0.258663,0.197549,0.170363,0.166920,0.165543,...,0.163278,0.164534,0.164625,0.165994,0.167546,0.168865,0.165978,0.165247,0.165012,0.180844
8,AUS,Australia,Unsafe water source,Percentage,0.004671,0.006530,0.006236,0.009112,0.009401,0.009463,...,0.010146,0.010174,0.011081,0.011308,0.011283,0.011085,0.011078,0.010855,0.010844,0.009573
9,AUT,Austria,Unsafe water source,Percentage,0.003606,0.002328,0.000863,0.000922,0.000941,0.000964,...,0.000995,0.001003,0.001014,0.000823,0.000833,0.000841,0.001477,0.001487,0.001048,0.001258
10,AZE,Azerbaijan,Unsafe water source,Percentage,0.925420,0.604958,0.420020,0.236045,0.200640,0.169291,...,0.141526,0.130449,0.121277,0.113504,0.109087,0.104262,0.099088,0.094025,0.090301,0.232136
11,BDI,Burundi,Unsafe water source,Percentage,4.385381,3.911230,3.573984,3.182863,3.137042,3.085318,...,3.011717,3.069727,3.090890,3.092940,3.122517,3.116273,3.073735,3.007146,3.012551,3.242834
12,BEL,Belgium,Unsafe water source,Percentage,0.002960,0.002966,0.003285,0.006970,0.008295,0.008377,...,0.008985,0.008992,0.008996,0.008975,0.009461,0.009417,0.009271,0.009194,0.008751,0.007736
13,BEN,Benin,Unsafe water source,Percentage,4.937681,4.825143,4.234307,4.468818,4.513589,4.551603,...,4.791236,5.001742,4.527958,4.311099,4.115000,3.883446,3.823769,3.702554,3.669923,4.374064
14,BFA,Burkina Faso,Unsafe water source,Percentage,6.540073,6.457299,5.960196,5.531301,5.090776,4.591480,...,4.197153,4.008104,3.889829,3.784163,3.663165,3.572753,3.585278,3.628020,3.634570,4.534402
15,BGD,Bangladesh,Unsafe water source,Percentage,5.124767,3.913067,2.459409,1.574728,1.455016,1.370476,...,1.246343,1.194627,1.163564,1.135561,1.137771,1.186621,1.199200,1.207815,1.253502,1.745141
16,BGR,Bulgaria,Unsafe water source,Percentage,0.026850,0.019774,0.015509,0.015087,0.014930,0.014718,...,0.014450,0.013774,0.013530,0.013736,0.014595,0.014208,0.013668,0.013190,0.012941,0.015355
17,BHR,Bahrain,Unsafe water source,Percentage,0.122974,0.129559,0.140312,0.140175,0.141571,0.141984,...,0.142292,0.141820,0.139697,0.139085,0.136134,0.134226,0.130465,0.128131,0.125397,0.135976
18,BHS,Bahamas,Unsafe water source,Percentage,0.222363,0.197994,0.130375,0.117248,0.112866,0.114856,...,0.110776,0.111971,0.111995,0.112609,0.113955,0.114728,0.114402,0.115350,0.116058,0.126928
19,BIH,Bosnia and Herzegovina,Unsafe water source,Percentage,0.053832,0.041996,0.026170,0.019265,0.018406,0.016921,...,0.016242,0.015178,0.015170,0.015222,0.015273,0.015283,0.015094,0.014456,0.014214,0.020614
20,BLR,Belarus,Unsafe water source,Percentage,0.039486,0.030196,0.019598,0.007725,0.006916,0.006778,...,0.005242,0.005232,0.005249,0.005655,0.005885,0.005882,0.006272,0.006268,0.006263,0.010494
21,BLZ,Belize,Unsafe water source,Percentage,1.309205,0.925092,0.602363,0.472102,0.452625,0.440568,...,0.412439,0.395818,0.387189,0.373550,0.366099,0.361708,0.350248,0.347502,0.345356,0.498235
22,BMU,Bermuda,Unsafe water source,Percentage,0.100854,0.103955,0.088554,0.090651,0.090307,0.092084,...,0.095240,0.098012,0.100183,0.100925,0.102320,0.103777,0.103616,0.105849,0.107045,0.098543
23,BOL,Bolivia,Unsafe water source,Percentage,2.921362,2.118682,1.455736,0.889439,0.803087,0.722347,...,0.603713,0.556436,0.516634,0.483371,0.453067,0.430948,0.407843,0.386721,0.377129,0.861411
24,BRA,Brazil,Unsafe water source,Percentage,1.876749,1.185916,0.675389,0.408213,0.369714,0.329762,...,0.259154,0.232356,0.209793,0.196160,0.184225,0.171541,0.161206,0.154577,0.149518,0.428544
25,BRB,Barbados,Unsafe water source,Percentage,0.151749,0.145660,0.112447,0.101508,0.100531,0.099640,...,0.100110,0.099679,0.099536,0.099683,0.100448,0.100284,0.100198,0.100261,0.101473,0.107038
26,BRN,Brunei Darussalam,Unsafe water source,Percentage,0.021255,0.019361,0.016481,0.016025,0.016252,0.016488,...,0.016975,0.017009,0.018522,0.018763,0.018366,0.018386,0.018199,0.017576,0.017147,0.017708
27,BTN,Bhutan,Unsafe water source,Percentage,3.152088,2.730707,2.171440,1.534562,1.492107,1.425803,...,1.276007,1.205728,1.147673,1.089941,1.047316,1.013102,0.972399,0.947192,0.953971,1.469342
28,BWA,Botswana,Unsafe water source,Percentage,3.701441,2.354970,1.470160,1.135896,1.183654,1.176522,...,1.155021,1.156718,1.157042,1.159127,1.157456,1.165583,1.161438,1.172246,1.222550,1.418337
29,CAF,Central African Republic,Unsafe water source,Percentage,3.739771,3.829671,4.147826,4.180364,4.374241,4.392744,...,4.484743,4.485351,4.420781,4.422050,4.414100,4.481465,4.582359,4.661647,4.733832,4.362071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,COL,Colombia,Unsafe water source,Percentage,0.999531,0.751544,0.510326,0.384836,0.355312,0.336736,...,0.290579,0.272877,0.260306,0.252331,0.250606,0.251879,0.251130,0.245685,0.246008,0.373145
38,COM,Comoros,Unsafe water source,Percentage,5.031999,4.423871,5.509486,3.944807,3.877172,4.021558,...,3.441328,3.276794,3.099383,2.921870,2.723894,2.671900,2.595223,2.524809,2.548054,3.515005
39,CPV,Cabo Verde,Unsafe water source,Percentage,4.935788,6.723093,1.678625,0.917222,0.848117,0.767224,...,0.658234,0.629208,0.590287,0.552906,0.533148,0.524016,0.507867,0.498721,0.503814,1.348507
40,CRI,Costa Rica,Unsafe water source,Percentage,0.417395,0.313868,0.247353,0.202777,0.190068,0.192922,...,0.185170,0.176271,0.174759,0.172286,0.169565,0.166192,0.156112,0.147940,0.148833,0.202795
41,CUB,Cuba,Unsafe water source,Percentage,0.414737,0.438421,0.305789,0.239474,0.232632,0.225789,...,0.222632,0.225789,0.231579,0.228421,0.227368,0.224211,0.212632,0.210526,0.211579,0.254836
42,CYP,Cyprus,Unsafe water source,Percentage,0.009384,0.006904,0.005110,0.005076,0.005078,0.005088,...,0.006396,0.006445,0.006491,0.006545,0.007030,0.007496,0.007527,0.007534,0.007137,0.006600
43,CZE,Czech Republic,Unsafe water source,Percentage,0.014137,0.011180,0.009427,0.011139,0.011927,0.013033,...,0.016728,0.018754,0.022733,0.027698,0.030331,0.032073,0.032873,0.032498,0.029130,0.020505
44,DJI,Djibouti,Unsafe water source,Percentage,9.456487,8.499329,7.068965,4.718618,4.561915,4.484460,...,3.653204,3.725159,3.302093,3.129040,2.993231,2.794340,2.668212,2.674555,2.652114,4.390392
45,DMA,Dominica,Unsafe water source,Percentage,0.455807,0.405242,0.295136,0.240402,0.234713,0.229409,...,0.227068,0.226108,0.229773,0.231539,0.232042,0.233115,0.226668,0.222239,0.220648,0.258626
46,DNK,Denmark,Unsafe water source,Percentage,0.003147,0.003093,0.002979,0.004994,0.005513,0.005593,...,0.006568,0.007030,0.007880,0.007691,0.007708,0.007697,0.007676,0.007654,0.007638,0.006155
47,DOM,Dominican Republic,Unsafe water source,Percentage,6.375102,4.609283,2.208376,1.273302,1.119580,1.026735,...,0.888501,0.851312,1.380144,0.889793,0.805973,0.749896,0.734338,0.740697,0.696657,1.580408
48,DZA,Algeria,Unsafe water source,Percentage,0.477826,0.407902,0.381695,0.236495,0.217908,0.199401,...,0.169211,0.159198,0.146542,0.137506,0.131843,0.125878,0.120113,0.116027,0.112660,0.207771
49,ECU,Ecuador,Unsafe water source,Percentage,4.544546,2.889714,1.618903,0.875273,0.817808,0.770565,...,0.674688,0.619326,0.566392,0.521056,0.486971,0.459888,0.444967,0.444454,0.440573,1.055689
50,EGY,Egypt,Unsafe water source,Percentage,3.291072,2.171674,1.423919,0.917042,0.840060,0.808934,...,0.722369,0.686095,0.661017,0.617886,0.589882,0.541251,0.507037,0.443867,0.407375,0.961877
51,ERI,Eritrea,Unsafe water source,Percentage,12.043760,12.533224,10.719751,9.922507,9.660308,9.493875,...,9.148023,9.118794,8.946839,8.799295,8.661910,8.390592,8.192344,7.985496,7.948803,9.433827
52,EST,Estonia,Unsafe water source,Percentage,0.048192,0.028725,0.025506,0.022536,0.021720,0.021819,...,0.022656,0.022656,0.022606,0.022669,0.024398,0.024376,0.024419,0.024356,0.024333,0.025220
53,ETH,Ethiopia,Unsafe water source,Percentage,9.215578,8.873795,7.742123,7.062835,7.014699,7.119581,...,7.373136,7.440342,7.684900,7.847942,7.949360,8.282313,8.371081,8.395244,8.762397,7.892625
54,FIN,Finland,Unsafe water source,Percentage,0.004312,0.004142,0.001485,0.002319,0.002331,0.002361,...,0.002364,0.002340,0.001472,0.001445,0.001429,0.001407,0.001403,0.001414,0.001418,0.002126
55,FJI,Fiji,Unsafe water source,Percentage,1.350916,1.000788,0.799079,0.830482,0.851780,0.869859,...,0.880301,0.880542,0.877725,0.866382,0.850922,0.835306,0.818324,0.800693,0.792329,0.886054
56,FRA,France,Unsafe water source,Percentage,0.011181,0.010273,0.009718,0.008813,0.008830,0.010105,...,0.008831,0.008690,0.007196,0.006247,0.006150,0.006091,0.006125,0.006140,0.006166,0.008168
57,GHA,Ghana,Unsafe water source,Percentage,9.539406,7.795301,5.052310,3.872366,3.684735,3.518609,...,3.185126,3.276052,3.282446,3.265516,3.209475,3.405573,3.409287,3.502084,3.501496,4.172620
58,GNB,Guinea-Bissau,Unsafe water source,Percentage,11.696813,10.606675,10.606337,13.446745,10.394905,11.376798,...,10.219616,9.928050,9.549148,8.954714,9.218174,8.940289,8.663881,8.713704,8.713047,10.190322
59,GNQ,Equatorial Guinea,Unsafe water source,Percentage,9.531780,9.768221,8.435257,5.700208,5.009547,4.479462,...,3.657023,3.325325,2.890180,2.632406,2.525001,2.547021,2.387030,2.356992,2.414635,4.475558
60,GRC,Greece,Unsafe water source,Percentage,0.000017,0.000010,0.000013,0.000020,0.000022,0.000025,...,0.000448,0.000452,0.000458,0.000466,0.000474,0.000488,0.000494,0.000489,0.000487,0.000300
61,GRD,Grenada,Unsafe water source,Percentage,0.612398,0.529004,0.385805,0.319762,0.311192,0.301624,...,0.291311,0.286878,0.283424,0.283374,0.278863,0.280679,0.275937,0.270409,0.271430,0.329977
62,HRV,Croatia,Unsafe water source,Percentage,0.021169,0.021035,0.019076,0.017080,0.016902,0.015646,...,0.015104,0.015037,0.015162,0.016076,0.017054,0.017536,0.017738,0.018466,0.017980,0.017274
63,KHM,Cambodia,Unsafe water source,Percentage,2.447042,2.176937,1.523446,1.192922,1.088395,0.994906,...,0.851808,0.807408,0.756118,0.724597,0.686247,0.661240,0.656596,0.637826,0.641967,1.047808
64,PRK,Democratic People's Republic of Korea,Unsafe water source,Percentage,0.326667,0.130833,0.145000,0.227500,0.212917,0.200000,...,0.180833,0.170417,0.162917,0.156667,0.150000,0.143750,0.138333,0.133333,0.130000,0.174948
65,SLV,El Salvador,Unsafe water source,Percentage,3.372431,2.207600,1.204319,0.586559,0.532568,0.474435,...,0.416734,0.404869,0.389505,0.379859,0.369143,0.349403,0.339856,0.345537,0.348150,0.760606
66,TCD,Chad,Unsafe water source,Percentage,8.349529,8.026551,7.587906,7.341992,7.544769,7.736110,...,7.598327,7.646870,7.499359,7.216550,7.294494,7.162899,7.332732,7.297076,7.284152,7.533574

In [144]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [143]:
fig = go.Figure(data=go.Choropleth(
    locations = nitrate_pivot['COU'],
    z = nitrate_pivot['17 yr Avg'],
    text = nitrate_pivot['Country'],
    colorscale = 'Blues',
    autocolorscale=False,
    reversescale=True,
    marker_line_color='darkgray',
    marker_line_width=0.5,
    colorbar_tickprefix = '%',
    colorbar_title = '% of <br>Population',
))

fig.update_layout(
    title_text='Percentage of Population with Unsafe Water Source',
    geo=dict(
        showframe=False,
        showcoastlines=False,
        projection_type='equirectangular'
    ),
    annotations = [dict(
        x=0.55,
        y=0.1,
        xref='paper',
        yref='paper',
        showarrow = False
    )]
)

fig.show()

ValueError:
    Invalid value of type 'plotly.graph_objs.Choropleth' received for the 'data' property of
        Received value: Choropleth({
    'autocolorscale': False,
    'colorbar': {'tickprefix': '%', 'title': {'text': '% of <br>Population'}},
    'colorscale': 'Blues',
    'locations': array(['AFG', 'AGO', 'ALB', 'AND', 'ARG', 'ARM', 'ASM', 'ATG', 'AUS', 'AUT',
                        'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BHS', 'BIH',
                        'BLR', 'BLZ', 'BMU', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF',
                        'CAN', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COL', 'COM', 'CPV',
                        'CRI', 'CUB', 'CYP', 'CZE', 'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'ECU',
                        'EGY', 'ERI', 'EST', 'ETH', 'FIN', 'FJI', 'FRA', 'GHA', 'GNB', 'GNQ',
                        'GRC', 'GRD', 'HRV', 'KHM', 'PRK', 'SLV', 'TCD'], dtype=object),
    'marker': {'line': {'color': 'darkgray', 'width': 0.5}},
    'reversescale': True,
    'text': array(['Afghanistan', 'Angola', 'Albania', 'Andorra', 'Argentina', 'Armenia',
                   'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
                   'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
                   'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
                   'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda', 'Bolivia',
                   'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana',
                   'Central African Republic', 'Canada', 'Chile',
                   "China (People's Republic of)", "Côte d'Ivoire", 'Cameroon',
                   'Democratic Republic of the Congo', 'Congo', 'Colombia', 'Comoros',
                   'Cabo Verde', 'Costa Rica', 'Cuba', 'Cyprus', 'Czech Republic',
                   'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
                   'Ecuador', 'Egypt', 'Eritrea', 'Estonia', 'Ethiopia', 'Finland', 'Fiji',
                   'France', 'Ghana', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
                   'Grenada', 'Croatia', 'Cambodia',
                   "Democratic People's Republic of Korea", 'El Salvador', 'Chad'],
                  dtype=object),
    'z': array([1.89672495e+00, 5.04733706e+00, 5.72739621e-02, 2.05729167e-03,
                1.03399912e-01, 7.05435500e-02, 2.96093750e-01, 1.80844291e-01,
                9.57296615e-03, 1.25774567e-03, 2.32136302e-01, 3.24283366e+00,
                7.73615653e-03, 4.37406430e+00, 4.53440195e+00, 1.74514055e+00,
                1.53546308e-02, 1.35975817e-01, 1.26928012e-01, 2.06137617e-02,
                1.04937961e-02, 4.98235402e-01, 9.85433790e-02, 8.61411210e-01,
                4.28544151e-01, 1.07038266e-01, 1.77080091e-02, 1.46934192e+00,
                1.41833665e+00, 4.36207118e+00, 9.72706209e-03, 8.42381177e-02,
                1.24683477e-01, 2.97400645e+00, 4.17463123e+00, 3.17878086e+00,
                3.04524127e+00, 3.73145278e-01, 3.51500517e+00, 1.34850712e+00,
                2.02794788e-01, 2.54835526e-01, 6.59967221e-03, 2.05051438e-02,
                4.39039209e+00, 2.58625590e-01, 6.15549767e-03, 1.58040839e+00,
                2.07770989e-01, 1.05568853e+00, 9.61877228e-01, 9.43382682e+00,
                2.52204142e-02, 7.89262548e+00, 2.12561750e-03, 8.86054092e-01,
                8.16761931e-03, 4.17261955e+00, 1.01903221e+01, 4.47555783e+00,
                3.00429317e-04, 3.29976585e-01, 1.72739430e-02, 1.04780833e+00,
                1.74947917e-01, 7.60605744e-01, 7.53357361e+00])
})

    The 'data' property is a tuple of trace instances
    that may be specified as:
      - A list or tuple of trace instances
        (e.g. [Scatter(...), Bar(...)])
      - A list or tuple of dicts of string/value properties where:
        - The 'type' property specifies the trace type
            One of: ['area', 'bar', 'barpolar', 'box',
                     'candlestick', 'carpet', 'choropleth', 'cone',
                     'contour', 'contourcarpet', 'funnel',
                     'funnelarea', 'heatmap', 'heatmapgl',
                     'histogram', 'histogram2d',
                     'histogram2dcontour', 'isosurface', 'mesh3d',
                     'ohlc', 'parcats', 'parcoords', 'pie',
                     'pointcloud', 'sankey', 'scatter',
                     'scatter3d', 'scattercarpet', 'scattergeo',
                     'scattergl', 'scattermapbox', 'scatterpolar',
                     'scatterpolargl', 'scatterternary', 'splom',
                     'streamtube', 'sunburst', 'surface', 'table',
                     'violin', 'volume', 'waterfall']

        - All remaining properties are passed to the constructor of
          the specified trace type

        (e.g. [{'type': 'scatter', ...}, {'type': 'bar, ...}])